.container-fluid{
  background-color: #E8180C;
}

.jumbotron{
  background-color: #E8180C;
}
.col-sm-6{
  background-color: #FFFF0D;
}
.alternate{
  background-color: #FF6F00;
}
.other{
  background-color: #FFFF0D;
}
.header{
  color: white;
}
/*.footer{
  background-color: #E8180C;
  color: white;
}*/
center{
  color: white;
  font-family: "Times New Roman", Times, serif;
}
